<h1>Resume</h1>
<p>Resume last updated August 21st, 2021</p>
<img src="https://static.wixstatic.com/media/40d80b8089c8418a961cb75d96d491f7.png/v1/fill/w_87,h_117,al_c,q_85,usm_0.66_1.00_0.01/40d80b8089c8418a961cb75d96d491f7.webp" (click)="openResume()">

<h1>Cover Letter</h1>
<p>This cover letter was created for a Software Developer position at CaseWare International.</p>
<p>Cover letter last updated: October 30th, 2019</p>
<img src="https://static.wixstatic.com/media/40d80b8089c8418a961cb75d96d491f7.png/v1/fill/w_87,h_117,al_c,q_85,usm_0.66_1.00_0.01/40d80b8089c8418a961cb75d96d491f7.webp" (click)="openCoverletter()">