li:not(:last-child) {
    margin-bottom: 0.75em;
}

:root {
    padding: 1em;
}

.jc-content-list-title {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 768px) {
    /* for desktop */
    .jc-content-list-title {
        text-align: right;
    }
}