
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm(validateForm.value)">
    <h1 class="form-title">Contact me</h1>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Your Name</nz-form-label>
      <nz-form-control [nzSpan]="12" [nzErrorTip]="userErrorTpl">
        <input nz-input formControlName="username" placeholder="John Smith" />
        <ng-template #userErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">Please input your username!</ng-container>
          <ng-container *ngIf="control.hasError('duplicated')">The username is redundant!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
      <nz-form-control [nzSpan]="12" nzHasFeedback [nzErrorTip]="emailErrorTpl">
        <input nz-input formControlName="email" placeholder="myemail@mail.com" type="email" />
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('email')">The input is not valid E-mail!</ng-container>
          <ng-container *ngIf="control.hasError('required')">Please input your E-mail!</ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Message</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
        <textarea formControlName="message" nz-input rows="2" placeholder="write anything"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzOffset]="7" [nzSpan]="12">
        <button nz-button id="submit-btn" nzType="primary" [disabled]="!validateForm.valid">Submit</button>
        <button nz-button id="reset-btn" (click)="resetForm($event)">Reset</button>
      </nz-form-control>
    </nz-form-item>
  </form>