/* layout */
:root {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.jc-root-bottom {
    background-color: rgb(85, 49, 94);
    flex-grow: 1;
}

/* other stuff */
.jc-logo {
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    margin-bottom: 0.15em;
    margin-right: 0.5em;
}

.jc-root-bottom * {
    color: white;  
}

.jc-root-top {
    padding-bottom: 0;
    background: radial-gradient(circle at 18.7% 37.8%, rgb(252, 245, 250) 0%, rgb(255, 255, 255) 90%);
}

.jc-root-bottom .columns {
    height: 100%;
}

.jc-root-bottom .column {
    display: flex;
    flex-direction: column;
}

.jc-root-bottom .column > * {
    flex-grow: 1;
}