<h1>About me</h1>

<p>I am currently on co-op work term while pursuing an undergraduate degree as a Computer Science co-op specialist at the University of Toronto.</p>
<p>This electronic portfolio exhibits professional and academic achievements that I have accomplished. Thank you for viewing my portfolio!</p>

<h2>Professional Goals</h2>
<b>Short Term Goal:</b>
<p>My short-term goal is to find a specific niche within the field of computer science that fits me most and to acquire an undergraduate degree from the University of Toronto. </p>

<b>Long Term Goal:</b>
<p>My long-term goal is to find work or establish a company that pushes the boundaries of the field of computer science.</p>
