:root {
    margin: 2em;
    margin-bottom: 0em;
}

@media only screen and (min-width: 768px) {
    /* for desktop */

    :root {
        margin: 3em;
    }

    .breadcrumb {
        font-weight: 500;
    }

    .jc-identity p {
        margin-left: 1em;
    }
}
