<span class="pb-4 text-center">
    <a href="{{ .Site.BaseURL }}" class="disable-marked">
        <img src="/images/favicon.png" style="width: 200px;" class="rounded">
    </a>

    <p class="mt-2 mb-1">Joshua Carrasco Sousa</p>

    <a href="mailto:mail@jecs.me" class="marked">
        <i data-feather="mail" class="pb-1" style="stroke-width: 1.6px;"></i>Email Me</a>

    <a href="https://keys.openpgp.org/search?q=mail%40jecs.me" class="marked" target="_blank">
        <i data-feather="key" class="pb-1" style="stroke-width: 1.6px;"></i>PGP</a>
    <br>

    <a href="/documents/cv.pdf" class="marked" target="_blank">
        <i data-feather="file-text" class="pb-1" style="stroke-width: 1.5px;"></i>CV</a>

    <a href="https://github.com/jecars" class="marked" target="_blank">
        <i data-feather="github" class="pb-1" style="stroke-width: 1.5px;"></i>GitHub
    </a>
</span>
