<h1>Project Learnera</h1>

<p>Project Learnera, originally named Project BFS, is a group project I worked on from May 2021 to August 2021</p>
<p>The name of our development team was Brute Force Solutions hence BFS, but we later changed the product name to Learnera.</p>
<p>
    Project Learnera is a collaboration project with The Bridge from UTSC. The goal of the project is to tackle the 
    African Impact Challenge by creating a product that combines a community and an E-Learning platform.
    The goal of the African Impact Challenge is to build the Africa we want to see, by investing in the 
    continent’s aspiring entrepreneurs-to-be. The goal is to enable them to build market-creating innovations, 
    which tackle their country’s biggest challenges with technology.
</p>

<p>Features requested at start of development by the product owner:</p>
<ul>
    <li>Individual profile creations which use the data from the applications/registrations in an 
        automated way, to guide each person’s user journey and recommended actions </li>
    <li>Company profile creations with consent-provided access to uploaded information by the 
        founding teams on pitch decks, financials, MCs, founding team, etc. </li>
    <li>Partner profile creations (investors, service providers, corporations) with relevant information 
        about them and automated way to </li>
    <li>Enabling organic and guided interaction within this community </li>
    <li>Virtual pre-recorded content (video/audio and visual) that can be consumed in a self-paced 
        manner </li>
    <li>Deliverable completion and submission</li>
    <li>Calendar and scheduling features for participants in the incubation program</li>
    <li>Video conferencing integration for live workshops/sessions</li>
</ul>

<a (click)="openDemo()">Project Demo - after 4 sprints</a>